[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A simple demo repository to show the basic Git Workfkow
[access "refs/*"]
	owner = group user/pradeepdsilva12
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/pradeepdsilva12
	label-Verified = -1..+1 group user/pradeepdsilva12
	push = group user/pradeepdsilva12
	read = group user/pradeepdsilva12
	rebase = group user/pradeepdsilva12
	removeReviewer = group user/pradeepdsilva12
	submit = group user/pradeepdsilva12
[access "refs/heads/*"]
	create = group user/pradeepdsilva12
	push = +force group user/pradeepdsilva12
	pushMerge = group user/pradeepdsilva12
	read = group user/pradeepdsilva12
[access "refs/tags/*"]
	push = group user/pradeepdsilva12
	push = +force group user/pradeepdsilva12
